@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*

{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    background: #003147;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin:50px;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    box-shadow: 0 35px 55px rgba(211, 68, 68, 0.1);
}
.container .left_Side
{
    position: relative;
    background: #16aba8;
    padding: 40px;
}
.profileText
{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(179, 46, 46, 0.2);
}
.profileText .imgBx
{
    position:relative;
    width: 250px;
    height:270px;
    border-radius: 60%;
    overflow:hidden;

}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2
{
    color: #003147;
    font-size: 1.7em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.5em;
}
.profileText h2 span
{
    color: #003147;
    font-size: 0.7em;
    font-style: 200;
}
.contactInfo
{
    padding-top: 40px ;
}
.title
{
    color: #0a0a0a;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.contactInfo ul
{
position: relative;
}
.contactInfo ul li
{
position: relative;
list-style: none;
margin: 10px 0;
cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #ff0004;
}
.contactInfo ul li span
{
    color: rgb(0, 7, 2);
    font-weight: 300;
}
.contactInfo.education li
{
margin-bottom: 15px;

}
.contactInfo.education h5
{
    color: #ff0004;
    font-weight: 650;
}
.contactInfo.education h4
{
    color: rgb(49, 49, 49);
    font-weight: 300;
}
.contactInfo.education h4:nth-child(2)
{
/*color: rgb(49, 49, 49);*/
color: rgb(0, 7, 1);
font-weight: 500;
}
.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #ff0004;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    background: rgb(148, 8, 8);
}
.container .right_Side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about 
{
    margin-bottom: 20px;

}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.title3
{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: rgb(7, 0, 0);
    font-size: 18px;
}
.about .box
{
    display:flex ;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #16aba8;
    font-size: 16px;
}
.skills .box
{
    position: relative;
    width: 100%;
    display:grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;

}
.skills .box .percent
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #c1baba;
}
.skills .box .percent div 
{
position: absolute;
top: 0;
left: 00;
height: 100%;
background: #16aba8;
}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li 
{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa 
{
    color: #16aba8;
    font-size: 18px;
    width: 20px;
}

/* Estilo para el fondo de la ventana modal */
.languageModal {
    background: #003147;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column; /* Permite la colocación vertical de elementos */
}

/* Estilo para el contenido de la ventana modal */
.modal-content {
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #16aba8;
    border-radius: 5px;
    text-align: center;
    margin-top: 0; /* Empuja el modal hacia la parte inferior */
    margin-bottom: 20px; /* Espacio desde el borde inferior */
}

/* Estilo para los botones */
.modal-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 80%; /* Para que los botones ocupen el 80% del ancho disponible */
}

.modal-button:hover {
    background-color: #fff;
}

/* Ajuste del texto de bienvenida */
#welcomeText {
    position: fixed;
    top: 10px; /* Espacio desde el borde superior */
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 1100;
    padding: 0 10px; /* Añadir padding para asegurarse de que el texto no toque los bordes */
    font-size: 1.5rem;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .modal-content {
        width: 90%; /* Ajustar el tamaño del modal en pantallas más pequeñas */
    }

    .modal-button {
        width: 100%; /* Hacer que los botones ocupen el 100% del ancho del modal en móviles */
    }

    #welcomeText {
        font-size: 1.2rem; /* Ajustar el tamaño del texto para pantallas pequeñas */
    }
}

